/.clj-kondo/
.nrepl-port

fish/.config/fish/completions
fish/.config/fish/conf.d
fish/.config/fish/functions
fish/.config/fish/fish_variables

vim/.vim/plugged/

wezterm/.config/wezterm/dist
wezterm/.config/wezterm/wezterm.lua
